[Unit]
Description=RASMARA Daily Backup
Requires=docker.service
After=docker.service rasmara.service

[Service]
Type=oneshot
WorkingDirectory=__REPO_DIR__
ExecStart=/bin/bash __REPO_DIR__/deploy/debian11/backup.sh
User=__USER__
