[Unit]
Description=Run RASMARA backup harian jam 02:00 WIB

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
